api_cross/bin
api_cross/include
api_cross/lib
api_cross/share
api_cross/._app*
api_cross/pyvenv.cfg

__pycache__
._.DS_Store
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
